<h1>Confirm new password</h1>
<p id="notice"><%= (notice.nil?)? '' : notice.html_safe %></p>
<%= form_tag recovery_password_set_new_password_path, {method: :post, name: 'recovery_password_confirmation_code_form'} do %>
  <%= hidden_field_tag 'recovery_password[confirmation_code]', @user.recovery_password_confirmation_code %></p>
  <p>Enter your new password:</p>
  <p><%= password_field_tag('recovery_password[new_password]') %></p>
  <p>Repeat your new password:</p>
  <p><%= password_field_tag('recovery_password[new_password_repeat]') %></p>
  <p><%= submit_tag("accept") %></p>
<% end %>