<p id="notice"><%= notice %></p>
<%
  if @product.image_url.nil?
    concat image_tag 'products/default_image_url.png'
  else
    concat image_tag @product.image_url
  end
%>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<p>
  <strong>disabled:</strong>
  <%= @product.disabled_at %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
