<!DOCTYPE html>
<html>
<head>
  <title>SimpleShopRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="toolbar">
    <ul>
      <% if session.has_key? :user_id %>
        <li><%= link_to 'logout', logout_path %></li>
      <% else %>
        <li><%= link_to 'sign up', signup_path %></li>
        <li><%= link_to 'login', login_path %></li>
      <% end %>
    </ul>
  </div>
<%= yield %>
  <div class="footer">
      <a href="/policies/privacy">privacy</a>
      - <a href="/policies/terms_of_use">terms of use</a>
      - <a href="/policies/cookies">cookies</a>
      - <a href="/about">about</a>
      - <a href="/press">press</a>
      - <a href="/support/faq">faq</a>
      - <a href="/support/contact">contact</a>
  </div>
</body>
</html>
