<!DOCTYPE html>
<html>
<head>
  <title>SimpleShopRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="toolbar">
    <ul>
      <li><%= link_to 'sign up', signup_path %></li>
      <% if session.has_key? :user_id %>
        <li><%= link_to 'logout', logout_path %></li>
      <% else %>
        <li><%= link_to 'login', login_path %></li>
      <% end %>
    </ul>
  </div>
<%= yield %>

</body>
</html>
