<!DOCTYPE html>
<html>
<head>
  <title>SimpleShopRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="toolbar">
    <ul>
      <li>
        <a href="/" class="index">index</a>
      </li>
      <% if session.has_key? :user %>
        <li><%= link_to session[:user][:username], user_path(session[:user][:id]), {class: 'username'} %></li>
        <li><%= link_to 'settings', settings_path %></li>
        <li><%= link_to 'logout', logout_path %></li>
      <% else %>
        <li><%= link_to 'sign up', signup_path %></li>
        <li><%= link_to 'login', login_path %></li>
      <% end %>
    </ul>
  </div>
  <div id="content">
    <%= yield %>
  </div>
  <div class="footer">
      <a href="/policies/privacy">privacy</a>
      - <a href="/policies/terms_of_service">terms of service</a>
      - <a href="/policies/cookies">cookies</a>
      - <a href="/about">about</a>
      - <a href="/press">press</a>
      - <a href="/support/rules">rules</a>
      - <a href="/support/faq">faq</a>
      - <a href="/support/contact">contact</a>
  </div>
</body>
</html>
